@media (max-width:768px){
   /* Defalut CSS  */
  body {
    font-size: 16px;
  }
  section {
    padding: 50px 15px;
  }
  .inner {
    width: 100%;
  }
  /* Heading Font Size */
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  /* header  */
  header{
    width: 100%;
  }
  nav{
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-around;
  }
  nav a img{
    margin-top: 0;
    width: 50px;
  }
  nav a img.active{
    filter: invert();
  }
  .r_header{
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    top: 0;
    left: -260px;
    box-shadow: 3px 0 3px hwb(0 0% 100% / 0.3);
    text-align: left;
    padding: 90px 20px;
    transition: 0.5s;
  }
  .r_header.active {
    left: 0;
  }
  nav h1 a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trigger_header{
    display: block;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .trigger_header span{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: 0.4s;
  }
  .trigger_header span:nth-child(1){
    top: 0;
    left: 0;
  }
  .trigger_header span:nth-child(2){
    width: 70%;
    top: 50%;
    left: 0;
  }
  .trigger_header.active span{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .trigger_header.active span:nth-child(1){
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .trigger_header.active span:nth-child(2){
    width: 100%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  .trigger_header span.active {
    background-color: #fff;
  }
  /* home  */
  #home{
  }
  .home-content{
    flex-direction: column;
    height: 80vh;
  }
  .home-content .txt_home {
    flex: 1;
    margin-top: 110px;
  }
  .home-content .txt_home p{
    font-size: 36px;
    text-align: center;
  }
  .home-content .txt_home .txt_button{
    margin-top: 32px;
    text-align: center;
  }
  .home-content .txt_home .txt_button .pbtn:nth-child(2){
    margin-right: 0;
  }
  .home-content .txt_img {
    flex: 1;
  }
  .home-content .txt_img img {
    width: 100%;
  }
  /* plan  */
  #plan {
    padding: 60px 15px;
  }
  place-content{
    width: 100%;
  }
  .circles_plan{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .tinfo_design{
    flex-direction: column;
    margin-top: 40px;
  }
  .color-content {
    align-items: center;
    justify-content: space-around;
  }
  .color-content .color{
    width: 100%;
  }
  .color-content .color .name_color{
    font-size: 18px;
  }
  .binfo_design {
    width: 100%;
    margin-top: 40px;
  }
  .guide-content {
    width: 100%;
    gap: 20px;
    flex-direction: column;
  }
  .txt_guide {
    flex-wrap: wrap;
  }
  .pc_guide img{
    width: 100%;
  }
  .mobile_guide img{
    width: 100%;
  }
  .wireframe_design{
    margin: 60px 0 40px;
  }
  .wireframe_design img{
    width: 100%;
  }
  /* succes */
  #succes {
    width: 100%;
  }
  #succes img{
    width: 100%;
  }
  #succes .page_mockup {
    width: 100%;
    margin-top: 40px;
  }
  #succes .page_mockup img{
    width: 100%;
  }
  footer{
    width: 100%;
  }
}